@import '../../variables';

.footerContainer {
    padding: 1.5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-secundary;

    > p {
        padding: 5px;
        font-size: 0.9rem;
    }

    > div {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        a {
            padding: 5px 10px;
            margin: 0px 8px;
        
            img {
              width: 1.8rem;
              height: 1.8rem;
            }
        }
    }

}