@import '../variables';

.aboutContainer {
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
    background: $background-primary;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > article {
        display: flex;
        align-items: center;
    }

    article > div {
        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        > h2 {
            margin-bottom: 25px;
        }

        > p {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 980px) {
        padding: 10% 5%;

        article > div {
            text-align: center;

            h2 {
                width: 100%;
            }

            a {
                align-self: center;
            }
        }
    }
}