@import '../variables';

.purpleButton {
    height: 3.7rem;
    background: $purple-color;
    padding: 20px 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.2rem;
      margin-left: 10px;
      font-weight: bold;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 0;
    }

    @media screen and (max-width: 980px) {
      padding: 10% 5%;
      padding: 15px 28px;
    }
}