@import '../../variables';

.myWorkCardContainer {
    flex-basis: 300px;
    flex-grow: 1;
    height: auto;
    background: $background-secundary;
    margin: 10px;
    padding: 45px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;

    > img {
        margin-bottom: 20px;
        width: 5rem;
        height: 5rem;
    }

    @media screen and (max-width: 720px) {}
}
