@import '../../variables';

.myWorkContainer {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background: $background-primary;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > h2 {
        margin-bottom: 25px;
    }

    > article {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 720px) {
        padding: 5%;
    }
}