@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-primary;
  color: $text;
}

body, input, textarea, button {
  font: 400 1.15rem "Raleway", sans-serif;
  letter-spacing: 0.04rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  border: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}