@import '../../variables';

.headerContainer {
    height: 80px;
    padding: 1% 10%;
    width: 100vw;
    background: $background-primary;
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    nav {
        width: 100%;
        position: absolute;
        z-index: -1;

        left: 0;
        right: 0;
        background: $background-primary;

        ul {
            height: 100%;
            width: 100%;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-size: 1.4rem;
                    padding: 20px;
                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;

        > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            letter-spacing: 0.12rem;
        }

        img.mage {
            width: 3rem;
            height: 3rem;
            margin-right: 20px;
        }

        h1 {
            font-size: 1.6rem;
        }
    }

    div:last-child {
        a {
            padding: 15px;
            background: transparent;
            position: relative;
        }

        a:hover::before {
            content: "";
            background: $purple-color;
            position: absolute;
            width: 100%;
            height: 6px;
            bottom: -6px;
            left: -0.5%;
        }

        button {
            border-radius: 100%;
            width: 45px;
            height: 45px;
            padding: 10px;
            margin-left: 12px;
    
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    div:nth-child(3) {
        display: none;

        button {
            width: 50px;
            height: 50px;
            padding: 10px;
            background: transparent;
    
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media screen and (max-width: 1099px) {
        div:last-child {
            display: none;
        }

        div:nth-child(3) {
            display: inherit;
        }
    }
}

